<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Task</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Create New Task</h1>
        <a class="back-button" href="http://localhost:3000/tasks">Back</a>
        <form method="POST" action="http://localhost:3000/tasks/newTask">
            <textarea name="task" placeholder="Task"></textarea>
            <textarea name="timeLimit" placeholder="Time-Limit"></textarea>
            <textarea name="priority" placeholder="Priority"></textarea>
            <textarea name="category" placeholder="Category"></textarea>
            <button type="submit">Post</button>
        </form>
    </div>
    <div class="loader" id="loader" style="display:none;"></div>
    <script>
        window.addEventListener('load', function() {
            document.getElementById('loader').style.display = 'none';
        });

        window.addEventListener('beforeunload', function() {
            document.getElementById('loader').style.display = 'block';
        });
    </script>
</body>
</html>
